header {
  height: 40vh;
  justify-content: center;
  text-align: center;
  background: url(/images/pen.jpg) center / cover;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: semi-bold;
}

form {
  padding-top: 1%;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

ul {
  text-align: center;
  justify-content: center;
  list-style-type:none;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
